html {
    height: 100%;
}
body {
    margin: 0;
    padding: 20px;
    height: 100%;
    color: white;
    background-color: #1b2838;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    max-width: 100%;
}

.other-games {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.other-game-wrapper {
    padding: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 25%;
    font-size: 1.0em;
}
.other-game-wrapper:nth-child(1),
.other-game-wrapper:nth-child(2) {
    flex-basis: 50%;
    font-size: 1.4em;
}
.other-game-wrapper:nth-child(3),
.other-game-wrapper:nth-child(4),
.other-game-wrapper:nth-child(5) {
    flex-basis: 33%;
    font-size: 1.2em;
}
@media screen and (max-width: 800px) {
    .other-game-wrapper {
        flex-basis: 25%;
    }
}

.selected-game {
    margin: 0 auto;
    flex-basis: 33%;
    font-size: 1.2em;
}

.selected-game {
    margin: 0 auto;
    width: 25%;
}

.game {
    overflow: hidden;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background: linear-gradient(
        rgba(34, 34, 34, 0.4),
        rgba(51, 51, 51, 0.4)
    );
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.4);
}
.game .image {
    width: 100%;
    display: block;
}
.game .info {
    padding: 5px;
}
.game .info .title {
    font-size: 0.8em;
    color: white;
    text-decoration: none;
}
.game .info .tags {
    font-size: 0.6em;
}
.tag {
    margin-right: 3px;
    display: inline-block;
    padding: 1px 3px;
    border-radius: 3px;
    color: rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.05);
}
.sidebar .tag {
    float: left;
    clear: both;
    margin: 3px 0;
}
.tag.active {
    color: white;
    background: linear-gradient(135deg, #67c1f5 0%,#417a9b 100%);
}



body {
    background: white;
}

.ngame {
    color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    background: #444;
}

.ngame__header {
    position: relative;
}

.ngame__image {
    width: 100%;
}

.ngame__overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;
    position: absolute;
    text-align: right;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.ngame__score {
    color: black;
    display: inline-block;
    font-size: 0.75em;
    line-height: 1;
    padding: 2px 3px;
    border-radius: 4px;
    background: white;
    font-family: B612;
}

.ngame__info {
    padding: 5px;
    background: linear-gradient(
        #345,
        50%,
        #234
    );
}

.ngame__name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
}

.ngame__tags {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: -5px;
    padding: 5px 0 5px 5px;
    font-size: 0em;
}

.ngame__tags .ntag {
    margin-right: 3px;

    color: rgba(255, 255, 255, 1);
    background: linear-gradient(
        40deg,
        rgba(211, 238, 255, 0.5),
        rgba(221, 238, 255, 0.3)
    );
}

.ngame__tags-fader {
    position: absolute;
    width: 60px;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, transparent, #234);
}

.ntag {
    display: inline-block;

    padding: 0.25em 0.3em;
    border-radius: 4px;

    font-size: 0.75rem;
    line-height: 1;
}
