{% extends 'steamtail/base.html' %}

{% block body %}

<div class="container">

<div class="selected-game">
    <div class="game">
        <img class="image" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ app.id }}/header.jpg">
        <div class="info">
            <div class="title">{{ app.name }}</div>
        </div>
    </div>
</div>

<div class="other-games">
    {% for other_app in similar_apps %}
    <div class="other-game-wrapper">
        <div class="game">
            <a href="{% url 'more_like_this' other_app.id %}">
                <img class="image" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ other_app.id }}/header.jpg">
            </a>
            <div class="info">
                <a class="title" href="{{ other_app.get_absolute_url }}">{{ other_app.name }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>

{% endblock %}
