{% extends 'steamtail/base.html' %}
{% load steamtail %}

{% block body %}

<div class="container">

<div class="selected-game">
    <div class="game">
        <img class="image" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ app.id }}/header.jpg">
        <div class="info">
            <a class="title" href="{{ app.get_absolute_url }}">{{ app.name }}</a>
        </div>
    </div>
</div>

<div class="other-games">
    {% for other_app in similar_apps %}
    <div class="other-game-wrapper">
        <div class="game">
            <a href="{% url 'more_like_this' other_app.id %}">
                <img class="image" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ other_app.id }}/header.jpg">
            </a>
            <div class="info">
                {% comment %}
                <a class="title" href="{{ other_app.get_absolute_url }}">{{ other_app.name }}</a>
                {% endcomment %}
                <div class="tags">
                    {% spaceless %}
                        <a class="tag" href="{{ other_app.get_absolute_url }}">{{ other_app.diff|similarity|floatformat:1 }}%</a>
                    {% for tag in other_app.tags.all|slice:":2" %}
                    <div class="tag">{{ tag.name }}</div>
                    {% endfor %}
                    {% endspaceless %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>

{% endblock %}
