{% load steamtail %}
{# django template #}
{% spaceless %}
<div class="ngame game">
    <div class="ngame__header">
        <img class="ngame__image" src="https://steamcdn-a.akamaihd.net/steam/apps/{{ app.id }}/header.jpg">
        <div class="ngame__overlay">
            {% if app.review_score %}
            <div class="ngame__score">{{ app.review_score|points }}</div>
            {% endif %}
        </div>
    </div>
    <div class="ngame__info">
        {% if not exclude_name %}
        <div class="ngame__name">{{ app.name }}</div>
        {% endif %}
        {% if not exclude_tags %}
        <div class="ngame__tags">
            {% with tags=app.apptag_set.all|select_related:"tag"|slice:":12" %}
                {% with top=tags|first %}
                    {% for tag in tags %}
                    <div class="ntag" style="opacity:{{ tag.share|div:top.share|safe }}">{{ tag.tag.name }}</div>
                    {% endfor %}
                {% endwith %}
            {% endwith %}
            <div class="ngame__tags-fader"></div>
        </div>
        {% endif %}
    </div>
</div>
{% endspaceless %}
